<style>
.login{
	width:50%;
	padding-bottom: 100px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 100px;
	margin-bottom: 100px;
	border: 2px solid gray;
	border-radius: 8px;
	background-color: rgb(205, 204, 203);
}
.login table{
	margin-top: 100px;
}
.login table td{
	font-size: 1.5em;
	padding-right: 20px;
}
.login table td a{
	font-size: 20px;
}
</style>

	<div class="login">
		<form>
			<table align="center">
				<tr><td>Email or Username</td><td><input type="text" name="login"></td></tr>
				<tr><td>Password</td><td><input type="password" name="pass"></td></tr>
				<tr><td></td><td><a href="">Forgot password?</a></td></tr>
				<tr><td></td><td><input type="button" name="submit" value="Login" class="button-link"></td></tr>
			</table>
		</form>
	</div>	

