<style>
.login{
	width:50%;
	padding-bottom: 100px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 200px;
	margin-bottom: 100px;
	border: 2px solid gray;
	border-radius: 8px;
	background-color: rgb(205, 204, 203);
}
.login table{
	margin-top: 50px;
}
.login table td{
	padding-bottom: 20px;
	padding-right: 20px;
}

</style>

	<div class="login">
		<h1 style="text-align: center;">Sign up form</h1>
		<form>
			<table align="center">
				<tr><td>First name</td><td><input type="text" name="firstname" size="20" class="fail"></td></tr>
				<tr><td>Last name</td><td><input type="text" name="lastname" size="20" class="fail"></td></tr>
				<tr><td>Email</td><td><input type="text" name="email" size="20" class="fail"></td></tr>
				<tr><td>Username</td><td><input type="text" name="username" size="20" class="fail"></td></tr>
				<tr><td>Password</td><td><input type="password" name="password" size="20" class="fail"></td></tr>
				<tr><td>Retype Password</td><td><input type="password" name="repassword" size="20" class="fail"></td></tr>
				<tr><td>Date of Birth</td><td><input type="date" value="2013-03-15" name="dob" size="20" class="fail"></td></tr>
				<tr><td>Address</td><td><input type="text" name="address" size="40" class="fail"></td></tr>
				<tr><td>City</td><td><input type="text" name="city" size="20" class="fail"></td></tr>
				<tr><td>Country</td><td><input type="text" name="country" size="20" class="fail"></td></tr>
				<tr><td></td><td><input type="button" name="submit" value="Submit"></td></tr>
			</table>
		</form>
	</div>	

